@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ font-family: 'Poppins' sans-serif;
    box-sizing: border-box; /* centrar letras sin que se agrande */
}

.caja{ 
    background-color: black;
    height: 200px;
    margin-top: 30px; 
}
a{
    background-color: aqua;
    width: 200px;
    display: inline-block; /* Inline block es para darle ancho aunque sea inline */
}
h1{ background-color: rgb(223, 20, 88);}
span{
    background-color: blue;
}
.input{width: 400px;
height: 200px;}
header{
    background-color: blueviolet;
    color: white;
}
nav{
    text-align: center;
    background-color: brown;
}
.link{
    background-color: transparent;

}
.logo{
    background-color: aqua;
    width: 50px;
    height: 50px;
}
.caja-resultado {
    color: #5555;
    background-color: #EEEE;
    width: 700px;
    padding: 30px 15px;
    font-size: 16px;
    border-radius: 5px;
    border-bottom: 5px solid black; /* existe border-left y asi con cada uno */
   /*  border: 1px solid blue; */
}